.sider-item {
    margin: 25px;
}

.room-container {
    background-color: #fff;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.message-list {
    flex: 1; 
    overflow: auto;
}

.room-footer {
    padding: 20px;
}

.input-button {
    position: absolute;
}

.message-item:hover {
    /*background-color: #eee;*/
}