.sider-item {
    margin: 25px;
}

.room-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}

.message-list {
    flex: 1; 
    overflow: auto;
}

.room-footer {

}

.input-button {
    position: absolute;
}